@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Itim&display=swap");
@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap");

h1 {
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
  color: #fff;
  font-weight: 800;
}

.om {
  font-family: "Roboto", sans-serif;
}
