.frita-container {
    position: relative;
    height: 300px; 
    overflow: hidden;
  }
  
  .frita-img {
    position: absolute;
    animation: moveUpDown 3s linear infinite alternate; 
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      top: 0;
    }
    50% {
      top: calc(100% - 100px);  
    }
  }
  