@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.title{
    font-family: 'Tourney', sans-serif;
}
.description{
    font-family: 'Abel', sans-serif;
    }
#light{
    text-transform: uppercase; 
    -webkit-box-reflect: below 1px linear-gradient(linear, left top, left bottom, from(transparent), to(white)); 
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%, 60%, 65.1%, 80%,90.1%,92%
     {
         color:#FB8A8A;
        text-shadow: none;
     }
    18.1%,20.1%, 30%, 50%, 60.1%, 65%, 80.1% ,90%, 92.1%, 100%
    {   
        color:#fff;
        text-shadow: 0 0 5px #FB8A8A,            
        0 0 15px #FB8A8A,           
        0 0 35px  #FB8A8A,        
        0 0 75px #FB8A8A,   
        0 0 155px #FB8A8A;
                   
    }

}